.customBoard{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    width: 30%;
    border: solid black;
    border-radius:10px;
    margin:auto;
  }
  label{
    clear:left;
      text-align:right;
  }
  
  label, input{
    display: inline-block;
    
  }
  label {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    line-height: 26px;
    margin-bottom: 10px;
    padding-right:40%;
  }
  
  input {
    height: 20px;
    flex: 0 0 200px;
    margin-left: 10px;
  }
  #labelRow{
    margin-top: 10px;
  }
  .customButton{margin-bottom: 10px;}